<section id="id_order" class="edy-events-area edy-section-gap bg-gradient-d2e">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div>
                  <div class="container">
                      <div class="row g-5 align-items-center">
                          <div class="col-lg-10 offset-lg-1 sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">									
                              <div class="content">
                                  <div class="inner text-center">
                                      <h1 class="title-devices d-none d-sm-block">{{ section.settings.order_renew_heading }}</h1>											
                                      <h1 class="title-devices d-block d-sm-none">The Eddie Guarantee</h1>											
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="row g-5 align-items-center mb--60">
                          <div class="col-lg-12">
                              <div class="row bsg-5">										
                                  <div class="col-lg-6 col-md-12 col-sm-12 col-12 mt_md--30 mt_sm--30 xpr--50"> 
                                      {{ section.settings.order_renew_content }}
                                      <img class="w-100 edy-radius d-block d-sm-none mb--40" src="{{ section.settings.section_image | img_url: 'master' }}" alt="A View of the Eddie Device and its Packaging.">
                                      
                                      <ul class="edy-list-style-1">
                                         {% for block in section.blocks %}
                                          {% if block.type == 'text' %}  
                                          <!-- <li class="text-dark mb--10"> <i class="feather-check"></i> {{ block.settings.info_heading }} </li> -->
                                          {% endif %}  
                                          {% endfor %}
                                      </ul>
                                      <div class="d-none d-sm-block">
                                          <a id="btn-order" class="edy-btn hover-icon-reverse radius-round replace-url mt--40" href="{{ section.settings.btn_url }}">
                                              <div class="icon-reverse-wrapper"> 
                                                  <span class="btn-text">{{ section.settings.btn_label }}</span> 
                                                  <span class="btn-icon"><i class="feather-arrow-right"></i></span> 
                                                  <span class="btn-icon"><i class="feather-arrow-right"></i></span> 
                                              </div>
                                          </a>	
                                      </div>
                                      <div class="d-grid gap-2 text-center d-block d-sm-none">
                                          <a id="btn-order" class="edy-btn hover-icon-reverse radius-round replace-url mt--40" href="{{ section.settings.btn_url }}">
                                              <div class="icon-reverse-wrapper"> 
                                                  <span class="btn-text">{{ section.settings.btn_label }}</span> 
                                                  <span class="btn-icon"><i class="feather-arrow-right"></i></span> 
                                                  <span class="btn-icon"><i class="feather-arrow-right"></i></span> 
                                              </div>
                                          </a>	
                                      </div>
                                  </div>
                                  <div class="col-lg-6 col-md-12 col-sm-12 col-12 order-1 order-lg-2">
                                      <img class="w-100 edy-radius d-none d-sm-block" src="{{ section.settings.section_image | img_url: 'master' }}" alt="A View of the Eddie Device and its Packaging.">
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

{% schema %}
  {
    "name": "Order Renew Section",
    "settings": [
      {
        "type": "header",
        "content": "Order Renew Section"
      },
      {
        "type": "image_picker",
        "id": "section_image",
        "label": "Section Image"
      },
      {
          "type": "text",
          "id": "order_renew_heading",
          "label": "Section Heading",
          "default": "Order. Renew. Keep anew."
      },
      {
          "type": "html",
          "id": "order_renew_content",
          "label": "Section Content"
      },
      {
          "type": "text",
          "id": "btn_label",
          "label": "Button Label",
          "default": "SUBSCRIBE NOW"
      },
      {
          "type": "url",
          "id": "btn_url",
          "label": "Button URL"
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "Addition Info",
        "settings": [
          {
            "type": "textarea",
			"id": "info_heading",
            "label": "Info Heading"
          }
        ]
      }
    ],
    "presets": [{
      "name": "Home Order Renew",
      "category": "Home"
    }]
  }
{% endschema %}