<section class="edy-about-area about-style-1 bg-color-white edy-section-gapTop pb--0 lander-use-about-font-adjustment">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div>
                    <div class="container">
                        <div class="row g-5">
                            <div class="col-lg-8">
                                <h3 class="title-devices text-black">{{ section.settings.section_heading }}</h3>
                            </div>
                        </div>
                        <div class="row g-5 xalign-items-center">
                            <div class="col-12 ">
                                <p class="description-devices-head1 text-black d-block d-lg-none mb--0"> {{ section.settings.use_label }} </p>
                            </div>
                            <div class="col-5">
                                <div class="content animate__animated animate__slideInLeft">
                                    <img class="w-100-lg radius-10" src="{{ section.settings.use_image | img_url: 'master' }}" alt="Easy to Use - How to Wear" style="border: 2px solid #fff;">
                                </div>
                            </div>
                            <div class="col-7 ">
                                <div class="inner pl--50 pl_sm--0 pl_md--0 pl_lg--0">
                                    <hr class="edy-separator d-none d-lg-block"></hr>
                                    <p class="description-devices-head1 text-black mt-2 d-none d-lg-block"> {{ section.settings.use_label }} </p>
                                    <!-- Desktop version with mt--15p -->
                                    <div class="section-title text-start mt--15p d-none d-lg-block">
                                        <h2 class="description-title text-black">{{ section.settings.use_heading }}</h2>
                                        <p class="description-devices text-black mt--20">{{ section.settings.use_content }}</p>
                                    </div>

                                    <!-- Mobile version without mt--15p -->
                                    <div class="section-title text-start d-block d-lg-none mb--0">
                                        <h2 class="description-title text-black">{{ section.settings.use_heading }}</h2>
                                        <p class="description-devices use-content mb--0">{{ section.settings.use_content }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mb--0">
                                <hr class="edy-separator d-block d-lg-none"></hr>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="edy-about-area about-style-1 bg-color-white">
                    <div class="container">
                        <div class="row g-5 xalign-items-center">
                            <div class="col-12 mt-0">
                                <p class="description-devices-head2 text-black d-block d-lg-none mb--0"> {{ section.settings.fit_label }} </p>
                            </div>
                            <div class="col-7 order-2 order-lg-1">
                                <div class="inner pr--50 pr_sm--0 pr_md--0 pr_lg--0">
                                    <hr class="edy-separator m-0 d-none d-lg-block"></hr>
                                    <p class="description-devices-head2 text-black mt-2 d-none d-lg-block"> {{ section.settings.fit_label }} </p>
                                    <!-- Desktop version with mt--15p -->
                                    <div class="section-title text-start mt--15p d-none d-lg-block">
                                        <h2 class="description-title text-black">{{ section.settings.fit_heading }}</h2>
                                        <p class="description-devices text-black mt--20"> {{ section.settings.fit_content }} </p>
                                    </div>
                                    <!-- Mobile version without mt--15p -->
                                    <div class="section-title text-start d-block d-lg-none">
                                        <h2 class="description-title text-black">{{ section.settings.fit_heading }}</h2>
                                        <p class="description-devices mt--20 mb--0"> {{ section.settings.fit_content }} </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5 order-1 order-lg-2">
                                <div class="content">
                                    <img class="w-100 radius-10" src="{{ section.settings.fit_image | img_url: 'master' }}" alt="Eddie with Band Applied" style="border: 2px solid #fff;">
                                </div>
                            </div>
                            <div class="col-12 order-3 mb--0">
                                <hr class="edy-separator d-block d-lg-none"></hr>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="edy-about-area about-style-1 bg-color-white edy-section-gap2Bottom">
                    <div class="container">
                        <div class="row g-5 xalign-items-center">
                            <div class="col-12 mt-0">
                                <p class="description-devices-head2 text-black d-block d-lg-none mb--0"> {{ section.settings.sex_label }} </p>
                            </div>
                            <div class="col-5">
                                <div class="content">
                                    <img class="w-100 radius-10 more-pleasure" src="{{ section.settings.sex_image | img_url: 'master' }}" alt="More Pleasure" style="border: 2px solid #fff;">
                                </div>
                            </div>
                            <div class="col-7">
                                <div class="inner pl--50 pl_sm--0 pl_md--0 pl_lg--0">
                                    <hr class="edy-separator m-0 d-none d-lg-block"></hr>
                                    <p class="description-devices-head2 text-black mt-2 d-none d-lg-block"> {{ section.settings.sex_label }} </p>
                                    <!-- Desktop version with mt--15p -->
                                    <div class="section-title text-start mt--15p d-none d-lg-block">
                                        <h2 class="description-title text-black">{{ section.settings.sex_heading }}</h2>
                                        <p class="description-devices text-black mt--20"> {{ section.settings.sex_content }} </p>
                                    </div>
                                    <!-- Mobile version without mt--15p -->
                                    <div class="section-title text-start mt--0 d-block d-lg-none">
                                        <h2 class="description-title text-black">{{ section.settings.sex_heading }}</h2>
                                        <p class="description-devices mt--20 mb--0"> {{ section.settings.sex_content }} </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <hr class="edy-separator d-block d-lg-none"></hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
  {
    "name": "Lander's Use About",
    "settings": [
      {
        "type": "header",
        "content": "Use About Content"
      },
      {
        "type": "text",
        "id": "section_heading",
        "label": "Section Heading",
        "default": "Experiencing ED is difficult. <br> Treating ED with Eddie is easy"
      },
      {
        "type": "header",
        "content": "EASY TO USE Content"
      },
      {
        "type": "image_picker",
        "id": "use_image",
        "label": "EASY TO USE image"
      },
      {
        "type": "text",
        "id": "use_label",
        "label": "EASY TO USE Label",
        "default": "EASY-TO-USE"
      },
      {
        "type": "text",
        "id": "use_heading",
        "label": "EASY TO USE Heading",
        "default": "Wear"
      },
      {
        "type": "textarea",
        "id": "use_content",
        "label": "EASY TO USE Content",
        "default": "Place Eddie at the base of your shaft with the opening facing down. Apply whether soft or hard."
      },
      {
        "type": "header",
        "content": "BETTER FIT Content"
      },
      {
        "type": "image_picker",
        "id": "fit_image",
        "label": "BETTER FIT image"
      },
      {
        "type": "text",
        "id": "fit_label",
        "label": "BETTER FIT Label",
        "default": "BETTER FIT"
      },
      {
        "type": "text",
        "id": "fit_heading",
        "label": "BETTER FIT Heading",
        "default": "Secure"
      },
      {
        "type": "textarea",
        "id": "fit_content",
        "label": "BETTER FIT Content",
        "default": "Select the tension band that provides you the best fit. Use the blue band for standard tension or the red band for a tighter fit."
      },
      {
        "type": "header",
        "content": "MORE PLEASURE Content"
      },
      {
        "type": "image_picker",
        "id": "sex_image",
        "label": "MORE PLEASURE image"
      },
      {
        "type": "text",
        "id": "sex_label",
        "label": "MORE PLEASURE Label",
        "default": "MORE PLEASURE"
      },
      {
        "type": "text",
        "id": "sex_heading",
        "label": "MORE PLEASURE Heading",
        "default": "Enjoy"
      },
      {
        "type": "textarea",
        "id": "sex_content",
        "label": "MORE PLEASURE Content",
        "default": "Apply at any time prior to intercourse and wear throughout. Eddie's unique design allows for a pleasurable climax and finish."
      }
    ],
  "presets": [{
    "name": "Lander's Use About",
    "category": "Use page"
  }]
  }
{% endschema %}